<footer class="site-footer" style="height: 750px;">

    <div class="footer-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- footer-content-wrapper -->
</footer><!-- site-footer -->

<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
<script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
<script type='text/javascript' src='js/swiper.min.js'></script>
<script type='text/javascript' src='js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='js/circle-progress.min.js'></script>
<script type='text/javascript' src='js/jquery.countTo.min.js'></script>
<script type='text/javascript' src='js/custom.js'></script>
</body>
</html>