<%- include("partials/header.ejs") %>

<body class="contact-page">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="/home">EVENTIFY</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="/home">HOME</a></li>
                                <li><a href="/upcoming">UPCOMING EVENTS</a></li>
                                <% if(user.user_type === 'organisation') {%>
                                    <li><a href="/create-event">CREATE AN EVENT</a></li>
                                    <li><a href="/orgDashboard">DASHBOARD</a></li>
                                <% } else if(user.user_type === 'student') {%>
                                    <li><a href="/studentDash">DASHBOARD</a></li>
                                <% }%>
                                <li><a href="/aboutus">ABOUT</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                                <li><a href="/logout">LOGOUT</a></li>
                                <!-- <li><a href="#"><i class="fas fa-search"></i></a></li> -->
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">Feedback</h2>

                        <ul class="breadcrumbs flex align-items-center">
                            <li>is appreciated</li>
                        </ul><!-- .breadcrumbs -->
                    </div><!-- entry-header -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->

    <div class="container">
        <div class="main-content">

            <div class="contact-details">
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="contact-medium flex align-items-center">
                                <figure class="contact-icon">
                                    <img src="images/phone.jpg" alt="phone icon">
                                </figure><!-- phone-icon -->

                                <div class="contact-content">
                                    <div class="entry-title">
                                        Phone
                                    </div><!-- entry-title -->
                                    <div class="entry-content">
                                        +91 8146 324 919
                                    </div><!-- entry-content -->
                                </div><!-- phone-number -->
                            </div><!-- contact-phone -->
                        </div><!-- col-4 -->

                        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                            <div class="contact-medium flex align-items-center">
                                <figure class="contact-icon">
                                    <img src="images/mail.jpg" alt="phone icon">
                                </figure><!-- phone-icon -->

                                <div class="contact-content">
                                    <div class="entry-title">
                                        E-mail
                                    </div><!-- entry-title -->
                                    <div class="entry-content">
                                        singhwebworks@gmail.com
                                    </div><!-- entry-content -->
                                </div><!-- phone-number -->
                            </div><!-- contact-phone -->
                        </div><!-- col-4 -->

                        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-lg-0">
                            <div class="contact-medium flex align-items-center">
                                <figure class="contact-icon">
                                    <img src="images/place.jpg" alt="phone icon">
                                </figure><!-- phone-icon -->

                                <div class="contact-content">
                                    <div class="entry-title">
                                        Address
                                    </div><!-- entry-title -->
                                    <div class="entry-content">
                                        Lovely Professional University,<br>
                                        Jalandhar, Punjab, India
                                    </div><!-- entry-content -->
                                </div><!-- phone-number -->
                            </div><!-- contact-phone -->
                        </div><!-- col-4 -->
                    </div><!-- row -->
                </div>
            </div><!-- contact-details -->

            <div class="get-in-touch">
                <div class="entry-header">
                    <div class="entry-title">
                        <h2>Get in touch</h2>
                    </div><!-- entry-title -->
                </div><!-- entry-header -->

                <div class="entry-content">
                    <p>We value your feedback! Your input is essential in helping us enhance this platform for seamless event management, benefiting both organizations and students. By sharing your thoughts, you contribute to creating a comprehensive environment tailored to meet the diverse needs of our users. Together, we strive to cultivate an inclusive and user-friendly space where events flourish and connections thrive. Thank you for being an integral part of our journey towards excellence.</p>
                </div><!-- entry-content -->

                <div class="contact-form">
                    <form action="/contact-me" method="POST">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <input type="text" name="name" placeholder="Your name">
                        </div><!-- col-4 -->

                        <div class="col-12 col-md-6">
                            <input type="email" name="email" placeholder="Your email">
                        </div><!-- col-6 -->

                        <div class="col-12">
                            <input type="text" name="subject" placeholder="Subject">
                        </div>

                        <div class="col-12">
                            <textarea name="name" name="message" rows="8" cols="80" placeholder="message"></textarea>
                        </div>

                        <div class="col-12 submit flex justify-content-center">
                            <input type="submit"  value=<%= locals.message ? message : "Send Message"%> class="btn">
                        </div>
                    </div><!-- row -->
                </form>
                </div><!-- contact-form -->
            </div><!-- newsletter-subscribe -->
        </div><!-- main-content -->
    </div><!-- container -->

<%- include("partials/footer.ejs") %>