<%- include("partials/header.ejs") %>

<body class="contact-page">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="/home">EVENTIFY</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="/home">HOME</a></li>
                                <li><a href="/upcoming">UPCOMING EVENTS</a></li>
                                <% if(user.user_type === 'organisation') {%>
                                    <li><a href="/create-event">CREATE AN EVENT</a></li>
                                    <li><a href="/orgDashboard">DASHBOARD</a></li>
                                <% } else if(user.user_type === 'student') {%>
                                    <li><a href="/studentDash">DASHBOARD</a></li>
                                <% }%>
                                <li><a href="/aboutus">ABOUT</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                                <li><a href="/logout">LOGOUT</a></li>
                                <!-- <li><a href="#"><i class="fas fa-search"></i></a></li> -->
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">Create your Event</h2>
                    </div><!-- entry-header -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->

    <div class="container">
        <div class="main-content">
            <br>
            <div class="get-in-touch">
                <div class="entry-header">
                    <div class="entry-title">
                        <h2>Enter event details</h2>
                    </div><!-- entry-title -->
                </div><!-- entry-header -->
                
                <form action="/create-event" method="POST">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <input type="text" name="name" placeholder="Name of your event">
                        </div><!-- col-4 -->

                        <div class="col-12 col-md-6">
                            <input type="email" name="email" placeholder="Your email">
                        </div><!-- col-6 -->

                        <div class="col-12 col-md-6">
                            <input type="text" name="begin" placeholder="Begin date">
                        </div><!-- col-6 -->

                        <div class="col-12 col-md-6">
                            <input type="text" name="end" placeholder="End date">
                        </div><!-- col-6 -->

                        <div class="col-12 col-md-6">
                            <input type="text" name="venue" placeholder="Venue">
                        </div><!-- col-6 -->

                        <div class="col-12 col-md-6">
                            <input type="text" name="keywords" placeholder="Keywords for your event (comma separated)">
                        </div><!-- col-6 -->

                        <div class="col-12 col-md-6">
                            <input type="text" name="img_url" placeholder="Enter poster url">
                        </div><!-- col-4 -->

                        <div class="col-12">
                            <textarea name="desc" rows="8" cols="80" placeholder="Describe your event"></textarea>
                        </div>

                        <div class="col-12 submit flex justify-content-center">
                            <input type="submit" name="" value=<%= (locals.message) ? message: "Create!" %> class="btn">
                        </div>

                    </div><!-- row -->
                </div><!-- contact-form -->
                </form>
            </div><!-- newsletter-subscribe -->
        </div><!-- main-content -->
    </div><!-- container -->

<%- include("partials/footer.ejs") %>